# Ignore virtual environment directory
.venv/

# Ignore Streamlit secrets file
secrets.toml

# Optional: Ignore common Python files and directories
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log
.DS_Store
.vscode/
.idea/
.env
*.env